{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>IBMDP</title>

    <!-- Favicon -->
    <link rel="icon" href="{%static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body id="home">
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">

        <marquee class="col-lg-12" style="margin-top:20px;">
            <h1 style="color:limegreen">Welcome to our platform Wish you be happy with us &#128516</h1>
        </marquee>


                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#model">Model</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a> <span>Image Based Medical Diagnosis Platform</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/core-img/space.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">All the Image Diagnosis</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">Welcome to our <br>Platform</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">

                                    <h5>Online Platform</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">

                                    <h5>Amazing Performance</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">

                                    <h5>Great Prediction</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->

    <!-- ##### Course Area Start ##### -->

    <!-- ##### Course Area End ##### -->

  

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area section-padding-100-70" id="model">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>Models</span>
                        <h3>Let's Diagnosis now </h3>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Skin Cancer</h5>
                            <span>By FCIS Students</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Skin cancers are cancers that arise from the skin. They are due to the development of abnormal cells that have the ability to invade or spread to other parts of the body.There are three main types of skin cancers: basal-cell skin cancer (BCC), squamous-cell skin cancer (SCC) and melanoma.</p>
                     <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         {{ form.as_p }}
                             <label class="btn btn-block btn-primary">
                Upload <input type="file" name="image1" id="image1" style="display: none;" required>
            </label>
            
                            <button type="submit" name="submit1" id="submit1" class="btn academy-btn btn-sm col-lg-12">Predict</button>
                            </form>
                            <br>
                            <div id="image1result"></div>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/core-img/skin.jpg' %});"></div>
                    </div>
                </div>
                
                  <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Brain Tumor</h5>
                            <span>By FCIS Students</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>A brain tumor is a mass or growth of abnormal cells in the brain.

Many different types of brain tumors exist. Some brain tumors are noncancerous( benign), and some
brain tumors are cancerous (malignant). Brain tumors can begin in your brain (primary brain tumors),
or cancer .</p>
                     <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                             <label class="btn btn-block btn-primary">
                Upload <input type="file" name="image2" id="image2" style="display: none;">
            </label>
            
                            <button type="submit" name="submit2" id="submit2" class="btn academy-btn btn-sm col-lg-12">Predict</button>
                            </form>
                            <br>
                            <div id="image2result"></div>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/core-img/brain.jpg' %});"></div>
                    </div>
                </div>
                
                 <!-- Single Top Popular Course -->

                
         <!-- Single Top Popular Course -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>Malaria</h5>
                            <span>By FCIS Students</span>
                            <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that typically include fever, tiredness, vomiting, and headaches.In severe cases it can cause yellow skin, seizures, coma, or death.Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito</p>
                     <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                             <label class="btn btn-block btn-primary">
                             Upload <input type="file" name="image3" id="image3" style="display: none;">
                             </label>
            
                            <button type="submit" name="submit3" id="submit3" class="btn academy-btn btn-sm col-lg-12">Predict</button>
                            </form>
                            <br>
                            <div id="image3result"></div>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({% static 'img/core-img/malaria.jpg' %});"></div>
                    </div>
                </div>
                



            </div>
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

    <!-- ##### Partner Area Start ##### -->
    
    <!-- ##### Partner Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                        <h3>Thank You For Using Our Platform</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 ">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">

                            </div>
                            <label><h3 style="color: white;">Our Vision</h3></label>
                            <p> The aim of our project is to improve the public’s diseases prevention behaviors by diagnose it early by simple platform The results of our project are likely to influence the future disease diagnoses in Egypt The aim of our project is to improve the public’s diseases prevention behaviors by diagnose it early by simple platform The results of our project are likely to influence the future disease diagnoses in Egypt</p>
                           
                        </div>
                    </div>
                    <!-- Footer Widget Area -->

                    <!-- Footer Widget Area -->
                    
                    <!-- Footer Widget Area -->
                   
                </div>
            </div>
        </div>
        
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#submit1").click(function (e) {
                e.preventDefault()
                var fd = new FormData();
                var files = $('#image1')[0].files[0];
                fd.append('photo', files);
                $.ajax({
                    url: 'modelskin/',
                    type: 'POST',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                       if (response != 'true') {
                            $("#image1result").html("<div class=\"col-lg-12 alert alert-success\">Benign</div>");
                        } else {
                            $("#image1result").html("<div class=\"col-lg-12 alert alert-danger\">Malignant</div>");
                        }
                    }
                })
            })
        })
    </script>

<script>
        $(document).ready(function() {
            $("#submit2").click(function (e) {
                e.preventDefault()
                var fd = new FormData();
                var files = $('#image2')[0].files[0];
                fd.append('photo', files);
                $.ajax({
                    url: 'modelbrain/',
                    type: 'POST',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                       if (response != 'true') {
                            $("#image2result").html("<div class=\"col-lg-12 alert alert-success\">Benign</div>");
                        } else {
                            $("#image2result").html("<div class=\"col-lg-12 alert alert-danger\">Malignant</div>");
                        }
                    }
                })
            })
        })
    </script>

<script>
        $(document).ready(function() {
            $("#submit3").click(function (e) {
                e.preventDefault()
                var fd = new FormData();
                var files = $('#image3')[0].files[0];
                fd.append('photo', files);
                $.ajax({
                    url: 'modelmalaria/',
                    type: 'POST',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 'P') {
                            $("#image3result").html("<div class=\"col-lg-12 alert alert-success\">Uninfected</div>");
                        } else {
                            $("#image3result").html("<div class=\"col-lg-12 alert alert-danger\">Parasitized</div>");
                        }
                    }
                })
            })
        })
    </script>
</body>

</html>